<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
        <head>
                <title>Server Programming</title>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        </head>
        <body>
        	
                <h2>Modify Book</h2>
                <div>
	                <form th:object="${book}" action="#" th:action="@{/update/{id}(id=${book.id})}" method="post">
	                	<input th:field="*{title}"/>
	                	<input th:field="*{author}"/>
	                	<input th:field="*{publicationYear}"/>
	                	<input th:field="*{isbn}"/>
	                	<input th:field="*{price}"/>
	                	<select id="catlist" th:field="*{category}" class="form-control">
						<option th:each="category: ${categories}"
						th:value="${category.categoryid}"
						th:text="${category.name}">
						</option>
						</select>
	                	<input type="submit" value="Update"></input>
	                </form>
                </div>
                
                
        </body>
</html>
       